<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}Welcome to our game site!{% endblock %}</title>
        {% block styles %}
            <link rel="stylesheet" href="/assets/css/style.css" />
        {% endblock %}
    </head>
    <body>
        <a href="{{ path('logout') }}">Logout</a>
        {% block content %}{% endblock %}
        {% block scripts %}
            <script type="text/javascript" src="/assets/jquery-1.11.1.min.js"></script>
        {% endblock %}
    </body>
</html>
