{% extends "base.html" %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="/assets/js/game.js"></script>
{% endblock %}

{% block content %}
    <h2>list of games</h2>

    <ul>
        {% for type, game in games %}
            <li><a href="{{ path('listrooms', {gametype: type}) }}">{{ game }}</a></li>
        {% endfor %}
    </ul>

    <div>
        <input type="text" id="msg" />
        <button type="submit" id="send">Send</button>
        <div id="chat"> </div>
    </div>
{% endblock %}
