{% extends "base.html" %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="/assets/js/game.js"></script>
{% endblock %}

{% block content %}

some game

<div id="gameroot" data-roomid="{{ game.id }}">
    <div class="interface">
    </div>
    <div class="user-list">
    </div>
    <div class="canvas">
    </div>
    <div class="messages">
    </div>
    <div class="messages-interface">
        <input type="text" class="msg"/>
        <button>Wyślij</button>
    </div>
</div>

{% endblock %}
